body {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    font-family: sans-serif;
    font-size: 14px;
}

body.accessible {
    font-size: 28px;
}

body.accessible.white-on-black span {
    color: white;
    background-color: black;
}

body.accessible.yellow-on-black span {
    color: yellow;
    background-color: black;
}

body div.scrollable {
    width: 100%;
}

body.accessible div.scrollable-wrapper {
    overflow-x: scroll;
}

body.accessible div.scrollable {
    width: 300%;

}

#toc {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding-right: 15px;
}

#toc .toc-item {
    transition: all 1s ease;
    cursor: pointer;
}

#toc .toc-item.active {
    background: #CCCCCC;
    -moz-transform:scale(1.10) translate(15px);
    -webkit-transform:scale(1.10) translate(15px);
    -o-transform:scale(1.10) translate(15px);
}

#toc .toc-item:hover {
    background: #AAAAAA;
    -moz-transform:scale(1.25) translate(30px);
    -webkit-transform:scale(1.25) translate(30px);
    -o-transform:scale(1.25) translate(30px);
}

#toc .toc-item.toc-level-1 { font-size: 1.75em; line-height: 40px;}
#toc .toc-item.toc-level-2 { font-size: 1.50em; line-height: 35px;}
#toc .toc-item.toc-level-3 { font-size: 1.25em; line-height: 30px;}
#toc .toc-item.toc-level-4 { font-size: 1.00em; line-height: 25px;}
#toc .toc-item.toc-level-5 { font-size: 0.90em; line-height: 25px;}

#toc .toc-item span {
    text-indent: 5px;
    display:block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#toc .toc-item .toc-text-title {
    font-weight: bold;
    text-decoration: underline;
}
#toc .toc-item .toc-text-paragraph {

}
#toc .toc-item .toc-text-list {
    font-style: italic;
}
#toc .toc-item .toc-text-other {
    font-style: italic;
}